In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 50)
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
train = pd.read_csv('Train.csv')
test = pd.read_csv('Test.csv')
samplesub = pd.read_csv('SampleSubmission.csv')
print('train: ', train.shape, '\ntest: ', test.shape)
train.head()

train:  (29132, 29)
test:  (10000, 29)

,ID,join_date,sex,marital_status,birth_year,branch_code,occupation_code,occupation_category_code,P5DA,RIBP,8NN1,7POT,66FJ,GYSR,SOP4,RVSZ,PYUQ,LJR9,N2MW,AHXO,BSTQ,FM3X,K6QO,QBOL,JWFN,JZ9D,J9JW,GHYX,ECY3
0,4WKQSBB,1/2/2019,F,M,1987,1X1H,2A7I,T4MS,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0
1,CP5S02H,1/6/2019,F,M,1981,UAOD,2A7I,T4MS,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0
2,2YKDILJ,1/6/2013,M,U,1991,748L,QZYX,90QI,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1
3,2S9E81J,1/8/2019,M,M,1990,1X1H,BP09,56SI,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0
4,BHDYVFT,1/8/2019,M,M,1990,748L,NO3L,T4MS,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0

In [3]:
test.head()

,ID,join_date,sex,marital_status,birth_year,branch_code,occupation_code,occupation_category_code,P5DA,RIBP,8NN1,7POT,66FJ,GYSR,SOP4,RVSZ,PYUQ,LJR9,N2MW,AHXO,BSTQ,FM3X,K6QO,QBOL,JWFN,JZ9D,J9JW,GHYX,ECY3
0,F86J5PC,1/12/2018,M,M,1984,94KC,DZRV,90QI,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,H6141K3,1/10/2019,M,M,1996,1X1H,J9SY,90QI,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0
2,RBAYUXZ,1/1/2020,F,W,1968,UAOD,2A7I,T4MS,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0
3,KCBILBQ,1/2/2019,M,M,1989,94KC,2A7I,T4MS,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4,LSEC1ZJ,1/2/2020,F,M,1982,UAOD,0KID,T4MS,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0

In [4]:
test_copy = test.copy()
data = pd.concat([train, test], axis=0)
data.drop(['ID'], axis=1, inplace=True)
print('DataFrame: ', data.shape)
data

DataFrame:  (39132, 28)

,join_date,sex,marital_status,birth_year,branch_code,occupation_code,occupation_category_code,P5DA,RIBP,8NN1,7POT,66FJ,GYSR,SOP4,RVSZ,PYUQ,LJR9,N2MW,AHXO,BSTQ,FM3X,K6QO,QBOL,JWFN,JZ9D,J9JW,GHYX,ECY3
0,1/2/2019,F,M,1987,1X1H,2A7I,T4MS,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0
1,1/6/2019,F,M,1981,UAOD,2A7I,T4MS,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0
2,1/6/2013,M,U,1991,748L,QZYX,90QI,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1
3,1/8/2019,M,M,1990,1X1H,BP09,56SI,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0
4,1/8/2019,M,M,1990,748L,NO3L,T4MS,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1/4/2019,F,M,1986,748L,2A7I,T4MS,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0
9996,1/8/2019,M,M,1980,UAOD,0KID,T4MS,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
9997,1/4/2018,M,M,1993,748L,SST3,56SI,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
9998,1/5/2015,F,U,1981,49BM,2A7I,T4MS,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9999,1/11/2018,M,U,1977,94KC,2A7I,T4MS,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0

In [5]:
data.isnull().sum()

join_date                   3
sex                         0
marital_status              0
birth_year                  0
branch_code                 0
occupation_code             0
occupation_category_code    0
P5DA                        0
RIBP                        0
8NN1                        0
7POT                        0
66FJ                        0
GYSR                        0
SOP4                        0
RVSZ                        0
PYUQ                        0
LJR9                        0
N2MW                        0
AHXO                        0
BSTQ                        0
FM3X                        0
K6QO                        0
QBOL                        0
JWFN                        0
JZ9D                        0
J9JW                        0
GHYX                        0
ECY3                        0
dtype: int64

In [6]:
data.dtypes

join_date                   object
sex                         object
marital_status              object
birth_year                   int64
branch_code                 object
occupation_code             object
occupation_category_code    object
P5DA                         int64
RIBP                         int64
8NN1                         int64
7POT                         int64
66FJ                         int64
GYSR                         int64
SOP4                         int64
RVSZ                         int64
PYUQ                         int64
LJR9                         int64
N2MW                         int64
AHXO                         int64
BSTQ                         int64
FM3X                         int64
K6QO                         int64
QBOL                         int64
JWFN                         int64
JZ9D                         int64
J9JW                         int64
GHYX                         int64
ECY3                         int64
dtype: object

### Feature Engineering: Train.

In [7]:
products = train[['P5DA', 'RIBP', '8NN1', '7POT', '66FJ', 'GYSR', 'SOP4', 'RVSZ', 'PYUQ', 'LJR9', 'N2MW', 'AHXO','BSTQ', 
               'FM3X', 'K6QO', 'QBOL', 'JWFN', 'JZ9D', 'J9JW', 'GHYX', 'ECY3']]
#
trn = train.melt(id_vars=train.columns[:8], value_vars=products, var_name='PCODE', value_name='Label')
trn['ID X PCODE'] = trn['ID'] + ' X ' + trn['PCODE']
trn

,ID,join_date,sex,marital_status,birth_year,branch_code,occupation_code,occupation_category_code,PCODE,Label,ID X PCODE
0,4WKQSBB,1/2/2019,F,M,1987,1X1H,2A7I,T4MS,P5DA,0,4WKQSBB X P5DA
1,CP5S02H,1/6/2019,F,M,1981,UAOD,2A7I,T4MS,P5DA,0,CP5S02H X P5DA
2,2YKDILJ,1/6/2013,M,U,1991,748L,QZYX,90QI,P5DA,0,2YKDILJ X P5DA
3,2S9E81J,1/8/2019,M,M,1990,1X1H,BP09,56SI,P5DA,0,2S9E81J X P5DA
4,BHDYVFT,1/8/2019,M,M,1990,748L,NO3L,T4MS,P5DA,0,BHDYVFT X P5DA
...,...,...,...,...,...,...,...,...,...,...,...
611767,8SBA93U,1/9/2019,F,M,1974,748L,2A7I,T4MS,ECY3,0,8SBA93U X ECY3
611768,Y73ETTO,1/11/2018,M,M,1987,XX25,Q6J6,90QI,ECY3,0,Y73ETTO X ECY3
611769,MVXG2LC,1/2/2019,M,M,1985,BOAS,6PE7,T4MS,ECY3,0,MVXG2LC X ECY3
611770,BUQ8DQN,1/7/2019,M,M,1989,UAOD,2A7I,T4MS,ECY3,0,BUQ8DQN X ECY3
611771,DEJBWYU,1/3/2020,M,M,1975,94KC,31JW,90QI,ECY3,0,DEJBWYU X ECY3

In [8]:
cat_col = trn[['sex', 'marital_status', 'branch_code', 'occupation_code', 'occupation_category_code', 'PCODE']]
dummy_df = pd.get_dummies(cat_col, dummy_na=True, drop_first=True)
trn = pd.concat([trn, dummy_df], axis=1)
trn.drop(['sex', 'marital_status', 'branch_code', 'occupation_code', 'occupation_category_code', 'PCODE'],
            axis=1, inplace=True)
trn

,ID,join_date,birth_year,Label,ID X PCODE,sex_M,sex_nan,marital_status_M,marital_status_P,marital_status_R,marital_status_S,marital_status_U,marital_status_W,marital_status_f,marital_status_nan,branch_code_30H5,branch_code_49BM,branch_code_748L,branch_code_94KC,branch_code_9F9T,branch_code_BOAS,branch_code_E5SW,branch_code_EU3L,branch_code_O4JC,branch_code_O67J,...,occupation_category_code_JD7X,occupation_category_code_L44T,occupation_category_code_T4MS,occupation_category_code_nan,PCODE_7POT,PCODE_8NN1,PCODE_AHXO,PCODE_BSTQ,PCODE_ECY3,PCODE_FM3X,PCODE_GHYX,PCODE_GYSR,PCODE_J9JW,PCODE_JWFN,PCODE_JZ9D,PCODE_K6QO,PCODE_LJR9,PCODE_N2MW,PCODE_P5DA,PCODE_PYUQ,PCODE_QBOL,PCODE_RIBP,PCODE_RVSZ,PCODE_SOP4,PCODE_nan
0,4WKQSBB,1/2/2019,1987,0,4WKQSBB X P5DA,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
1,CP5S02H,1/6/2019,1981,0,CP5S02H X P5DA,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
2,2YKDILJ,1/6/2013,1991,0,2YKDILJ X P5DA,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
3,2S9E81J,1/8/2019,1990,0,2S9E81J X P5DA,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
4,BHDYVFT,1/8/2019,1990,0,BHDYVFT X P5DA,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
611767,8SBA93U,1/9/2019,1974,0,8SBA93U X ECY3,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
611768,Y73ETTO,1/11/2018,1987,0,Y73ETTO X ECY3,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
611769,MVXG2LC,1/2/2019,1985,0,MVXG2LC X ECY3,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
611770,BUQ8DQN,1/7/2019,1989,0,BUQ8DQN X ECY3,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
611771,DEJBWYU,1/3/2020,1975,0,DEJBWYU X ECY3,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [9]:
trn['join_day'] = trn['join_date'].apply(lambda x: int(x.split('/')[0]) if (x == x) else np.nan)
trn['join_month'] = trn['join_date'].apply(lambda x: int(x.split('/')[1]) if (x == x) else np.nan)
trn['join_year'] = trn['join_date'].apply(lambda x: int(x.split('/')[2]) if (x == x) else np.nan)
trn['year_diff'] = trn['join_year'] - trn['birth_year']
trn.head()

,ID,join_date,birth_year,Label,ID X PCODE,sex_M,sex_nan,marital_status_M,marital_status_P,marital_status_R,marital_status_S,marital_status_U,marital_status_W,marital_status_f,marital_status_nan,branch_code_30H5,branch_code_49BM,branch_code_748L,branch_code_94KC,branch_code_9F9T,branch_code_BOAS,branch_code_E5SW,branch_code_EU3L,branch_code_O4JC,branch_code_O67J,...,PCODE_7POT,PCODE_8NN1,PCODE_AHXO,PCODE_BSTQ,PCODE_ECY3,PCODE_FM3X,PCODE_GHYX,PCODE_GYSR,PCODE_J9JW,PCODE_JWFN,PCODE_JZ9D,PCODE_K6QO,PCODE_LJR9,PCODE_N2MW,PCODE_P5DA,PCODE_PYUQ,PCODE_QBOL,PCODE_RIBP,PCODE_RVSZ,PCODE_SOP4,PCODE_nan,join_day,join_month,join_year,year_diff
0,4WKQSBB,1/2/2019,1987,0,4WKQSBB X P5DA,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1.0,2.0,2019.0,32.0
1,CP5S02H,1/6/2019,1981,0,CP5S02H X P5DA,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1.0,6.0,2019.0,38.0
2,2YKDILJ,1/6/2013,1991,0,2YKDILJ X P5DA,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1.0,6.0,2013.0,22.0
3,2S9E81J,1/8/2019,1990,0,2S9E81J X P5DA,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1.0,8.0,2019.0,29.0
4,BHDYVFT,1/8/2019,1990,0,BHDYVFT X P5DA,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1.0,8.0,2019.0,29.0

In [10]:
int_col = ['birth_year', 'join_day', 'join_month', 'join_year', 'year_diff']
for col in int_col:
    freq = trn[col].value_counts().to_dict()
    trn[col + '_freq_encode'] = trn[col].map(freq)
#
trn.drop(['join_date', 'ID'], axis=1, inplace=True)
trn

,birth_year,Label,ID X PCODE,sex_M,sex_nan,marital_status_M,marital_status_P,marital_status_R,marital_status_S,marital_status_U,marital_status_W,marital_status_f,marital_status_nan,branch_code_30H5,branch_code_49BM,branch_code_748L,branch_code_94KC,branch_code_9F9T,branch_code_BOAS,branch_code_E5SW,branch_code_EU3L,branch_code_O4JC,branch_code_O67J,branch_code_UAOD,branch_code_X23B,...,PCODE_FM3X,PCODE_GHYX,PCODE_GYSR,PCODE_J9JW,PCODE_JWFN,PCODE_JZ9D,PCODE_K6QO,PCODE_LJR9,PCODE_N2MW,PCODE_P5DA,PCODE_PYUQ,PCODE_QBOL,PCODE_RIBP,PCODE_RVSZ,PCODE_SOP4,PCODE_nan,join_day,join_month,join_year,year_diff,birth_year_freq_encode,join_day_freq_encode,join_month_freq_encode,join_year_freq_encode,year_diff_freq_encode
0,1987,0,4WKQSBB X P5DA,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1.0,2.0,2019.0,32.0,22155,611520.0,40782.0,186984.0,22176.0
1,1981,0,CP5S02H X P5DA,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1.0,6.0,2019.0,38.0,21147,611520.0,53193.0,186984.0,22407.0
2,1991,0,2YKDILJ X P5DA,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1.0,6.0,2013.0,22.0,14511,611520.0,53193.0,12831.0,6930.0
3,1990,0,2S9E81J X P5DA,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1.0,8.0,2019.0,29.0,16842,611520.0,45717.0,186984.0,20244.0
4,1990,0,BHDYVFT X P5DA,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1.0,8.0,2019.0,29.0,16842,611520.0,45717.0,186984.0,20244.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
611767,1974,0,8SBA93U X ECY3,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0,9.0,2019.0,45.0,20202,611520.0,43533.0,186984.0,18648.0
611768,1987,0,Y73ETTO X ECY3,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0,11.0,2018.0,31.0,22155,611520.0,43617.0,154392.0,21903.0
611769,1985,0,MVXG2LC X ECY3,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0,2.0,2019.0,34.0,22197,611520.0,40782.0,186984.0,24087.0
611770,1989,0,BUQ8DQN X ECY3,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0,7.0,2019.0,30.0,20916,611520.0,43743.0,186984.0,21819.0
611771,1975,0,DEJBWYU X ECY3,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0,3.0,2020.0,45.0,19278,611520.0,43323.0,66318.0,18648.0

In [11]:
trn.describe()

,birth_year,Label,sex_M,sex_nan,marital_status_M,marital_status_P,marital_status_R,marital_status_S,marital_status_U,marital_status_W,marital_status_f,marital_status_nan,branch_code_30H5,branch_code_49BM,branch_code_748L,branch_code_94KC,branch_code_9F9T,branch_code_BOAS,branch_code_E5SW,branch_code_EU3L,branch_code_O4JC,branch_code_O67J,branch_code_UAOD,branch_code_X23B,branch_code_XX25,...,PCODE_FM3X,PCODE_GHYX,PCODE_GYSR,PCODE_J9JW,PCODE_JWFN,PCODE_JZ9D,PCODE_K6QO,PCODE_LJR9,PCODE_N2MW,PCODE_P5DA,PCODE_PYUQ,PCODE_QBOL,PCODE_RIBP,PCODE_RVSZ,PCODE_SOP4,PCODE_nan,join_day,join_month,join_year,year_diff,birth_year_freq_encode,join_day_freq_encode,join_month_freq_encode,join_year_freq_encode,year_diff_freq_encode
count,611772.000000,611772.000000,611772.000000,611772.0,611772.000000,611772.000000,611772.000000,611772.000000,611772.000000,611772.000000,611772.000000,611772.0,611772.000000,611772.000000,611772.000000,611772.000000,611772.000000,611772.000000,611772.000000,611772.000000,611772.000000,611772.000000,611772.000000,611772.000000,611772.000000,...,611772.000000,611772.000000,611772.000000,611772.000000,611772.000000,611772.000000,611772.000000,611772.000000,611772.000000,611772.000000,611772.000000,611772.000000,611772.000000,611772.000000,611772.000000,611772.0,611730.000000,611730.000000,611730.000000,611730.000000,611772.000000,611730.000000,611730.000000,611730.000000,611730.000000
mean,1979.517060,0.108460,0.697824,0.0,0.786523,0.000240,0.001167,0.112145,0.084924,0.010332,0.000034,0.0,0.108163,0.021317,0.279281,0.125566,0.014726,0.011911,0.109330,0.000309,0.000343,0.038617,0.120383,0.003398,0.096286,...,0.047619,0.047619,0.047619,0.047619,0.047619,0.047619,0.047619,0.047619,0.047619,0.047619,0.047619,0.047619,0.047619,0.047619,0.047619,0.0,1.003742,6.356574,2017.719636,38.201716,18128.967253,611310.082183,53986.572194,122141.765808,18114.181874
std,9.325452,0.310961,0.459202,0.0,0.409762,0.015499,0.034143,0.315545,0.278768,0.101121,0.005859,0.0,0.310586,0.144438,0.448646,0.331360,0.120454,0.108487,0.312053,0.017574,0.018524,0.192681,0.325409,0.058196,0.294983,...,0.212959,0.212959,0.212959,0.212959,0.212959,0.212959,0.212959,0.212959,0.212959,0.212959,0.212959,0.212959,0.212959,0.212959,0.212959,0.0,0.239621,3.335625,1.914455,9.251082,6254.606362,11327.793959,14209.783188,61090.383479,5837.799143
min,1932.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,1.000000,1.000000,2010.000000,8.000000,21.000000,21.000000,40782.000000,1533.000000,21.000000
25%,1973.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,1.000000,4.000000,2017.000000,31.000000,14511.000000,611520.000000,43617.000000,66318.000000,14910.000000
50%,1980.000000,0.000000,1.000000,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,1.000000,6.000000,2018.000000,38.000000,19656.000000,611520.000000,46725.000000,154392.000000,20202.000000
75%,1987.000000,0.000000,1.000000,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,1.000000,9.000000,2019.000000,45.000000,22197.000000,611520.000000,74172.000000,186984.000000,22407.000000
max,2011.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,23.000000,12.000000,2020.000000,80.000000,26523.000000,611520.000000,80598.000000,186984.000000,24927.000000

### Feature Engineering: Test.

In [12]:
products = test[['P5DA', 'RIBP', '8NN1', '7POT', '66FJ', 'GYSR', 'SOP4', 'RVSZ', 'PYUQ', 'LJR9', 'N2MW', 'AHXO','BSTQ', 
               'FM3X', 'K6QO', 'QBOL', 'JWFN', 'JZ9D', 'J9JW', 'GHYX', 'ECY3']]
#
tst = test.melt(id_vars=test.columns[:8], value_vars=products, var_name='PCODE', value_name='Label')
tst['ID X PCODE'] = tst['ID'] + ' X ' + tst['PCODE']
#
cat_col = tst[['sex', 'marital_status', 'branch_code', 'occupation_code', 'occupation_category_code', 'PCODE']]
dummy_df = pd.get_dummies(cat_col, dummy_na=True, drop_first=True)
tst = pd.concat([tst, dummy_df], axis=1)
tst.drop(['sex', 'marital_status', 'branch_code', 'occupation_code', 'occupation_category_code', 'PCODE', 'Label'],
            axis=1, inplace=True)
#
tst['join_day'] = tst['join_date'].apply(lambda x: int(x.split('/')[0]) if (x == x) else np.nan)
tst['join_month'] = tst['join_date'].apply(lambda x: int(x.split('/')[1]) if (x == x) else np.nan)
tst['join_year'] = tst['join_date'].apply(lambda x: int(x.split('/')[2]) if (x == x) else np.nan)
tst['year_diff'] = tst['join_year'] - tst['birth_year']
#
int_col = ['birth_year', 'join_day', 'join_month', 'join_year', 'year_diff']
for col in int_col:
    freq = tst[col].value_counts().to_dict()
    tst[col + '_freq_encode'] = tst[col].map(freq)
#
tst.drop(['join_date', 'ID'], axis=1, inplace=True)
tst

,birth_year,ID X PCODE,sex_M,sex_nan,marital_status_F,marital_status_M,marital_status_P,marital_status_R,marital_status_S,marital_status_U,marital_status_W,marital_status_nan,branch_code_30H5,branch_code_49BM,branch_code_748L,branch_code_94KC,branch_code_9F9T,branch_code_BOAS,branch_code_E5SW,branch_code_EU3L,branch_code_O4JC,branch_code_O67J,branch_code_UAOD,branch_code_X23B,branch_code_XX25,...,PCODE_FM3X,PCODE_GHYX,PCODE_GYSR,PCODE_J9JW,PCODE_JWFN,PCODE_JZ9D,PCODE_K6QO,PCODE_LJR9,PCODE_N2MW,PCODE_P5DA,PCODE_PYUQ,PCODE_QBOL,PCODE_RIBP,PCODE_RVSZ,PCODE_SOP4,PCODE_nan,join_day,join_month,join_year,year_diff,birth_year_freq_encode,join_day_freq_encode,join_month_freq_encode,join_year_freq_encode,year_diff_freq_encode
0,1984,F86J5PC X P5DA,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1.0,12.0,2018.0,34.0,9492,209916.0,17913.0,51996.0,8211.0
1,1996,H6141K3 X P5DA,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1.0,10.0,2019.0,23.0,1806,209916.0,15561.0,63147.0,2793.0
2,1968,RBAYUXZ X P5DA,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1.0,1.0,2020.0,52.0,4683,209916.0,16128.0,23982.0,2940.0
3,1989,KCBILBQ X P5DA,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1.0,2.0,2019.0,30.0,7224,209916.0,13986.0,63147.0,8232.0
4,1982,LSEC1ZJ X P5DA,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1.0,2.0,2020.0,38.0,9219,209916.0,13986.0,23982.0,7308.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209995,1986,0GMU5UH X ECY3,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0,4.0,2019.0,33.0,7665,209916.0,25053.0,63147.0,8253.0
209996,1980,I9W11CD X ECY3,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0,8.0,2019.0,39.0,7623,209916.0,15225.0,63147.0,7644.0
209997,1993,42WTEGT X ECY3,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0,4.0,2018.0,25.0,3276,209916.0,25053.0,51996.0,4641.0
209998,1981,8EKC4O9 X ECY3,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0,5.0,2015.0,34.0,7056,209916.0,28476.0,6426.0,8211.0
209999,1977,WHII93K X ECY3,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0,11.0,2018.0,41.0,6804,209916.0,14154.0,51996.0,6825.0

In [13]:
#export clean data as csv
trn.to_csv('train_clean', index=None, header=True)
tst.to_csv('test_clean', index=None, header=True)